/*    */

:root{
  --bkgColor:#000000;
  --fontColor:#ffffff;
  --fontColor2:#000000;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: var(--bkgColor);
}




@media screen and (min-width:0px){

  .sectionContainer{
    width: 100vw;
    height: 100vh;  
  }


  .bannerBkg{
    background-image: url("../src/images/firtsBannerMobile.jpg");
    background-size: 100% 100%;
  }

  .menuNavContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .linkStyle{
    padding: 15px 0px;
    font-weight: 700;
    text-decoration: none;
    color:var(--fontColor);
  }

  .sectionContainer{
    display: flex;
    flex-direction: column;
  }

.restaurantName{
  font-family: 'Luxurious Script', cursive;
  font-size: 4rem;
  text-align: center;
  margin: 90px 0px -9px -7px;
  color:var(--fontColor);
  font-weight: 300;
}

.subtitleStyle{
  color: var(--fontColor);
  margin: 0px 0px 0px 90px;
  letter-spacing: 1px;
  font-size: 0.9rem;
  text-align: center;
  font-weight: 400;
}

.aboutSecStyle{
  height:80vh;
  width: 100vw;
}

.titleAboutSec{
  color: var(--fontColor);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 45px;
}

.aboutTextContainer{
  width: 65%;
  margin: 45px 15%;
}

.textAboutStyle{
  color: var(--fontColor);
}

.menuSecStyle{
  width: 100vw;
  height: 100vh;
}

.menuSecStyle h1{
  margin-top: 27px;
  text-align: center;
  color:var(--fontColor);
}

.menuFoodsStyle{
  display:  flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 7.5%;
}

.btnFoodsStyle{
  padding: 4px 7px;
  margin-top: 25px;
  background-color:#00000000;
  color: var(--fontColor);
  border-top: 0px ;
  border-right: 0px ;
  border-left: 0px ;
  border-bottom: 1px solid #ffffff;
}

.textMenuFoodStyle{
  color: var(--fontColor);
}

.menuImgAndTextContainer{
  display:  flex;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0px 10%;
}

.btnsContainerOfMenu{
  width: 80vw;
  margin:40px 10% ;
  display:  flex;
  align-items: center;
  justify-content: space-around;
}

.menuItensChange{
  width: 80px;
  padding: 7px ;
}







}


@media screen and (min-width:520px){
  
  .bannerBkg{
    background: url(../src//images/restaurant-area.jpg) no-repeat center;
    background-size: 100% 100%;
  ;
  }

}
